# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor folders
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Virtual environments
venv/
env/
.env
.venv

# Jupyter Notebook
.ipynb_checkpoints

# Streamlit config (if you want local secrets ignored)
.streamlit/secrets.toml

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log
